$color_btn_dark_green: #2B7A78;
$color_btn_green: #3AAFA9;
$color_btn_white: #FEFFFF;
$color_btn_gray: #8E8D8A;

$color_background_modal: #FEFFFF;

$color_error_background: #E3AFBC;
$color_error: #9A1750;

$dark_green_border: 2px solid $color_btn_dark_green;
$green_border: 1px solid $color_btn_green;
$gray_border_bottom: 1px solid $color_btn_gray;
$red_border: 2px solid $color_error;
